<div class="twopage">
    <div class="top"
    :class="{'animate__animated animate__fadeInDown ':active}">
        <h2>目錄</h2>
        <span>/CATALOG</span>
    </div>
    <div class="mid">
        <div class="content animate__animated animate__slow"
        :class="{'animate__fadeIn':active}"
        v-on:click=thispageMoveto(item.page)
        v-for="(item, item_index) in items " :key="item.index">
            <span>{{item.title}}</span><span>{{item.page}}</span>
        </div>
    </div>
    <div class="bottom"
    :class="{'animate__animated animate__fadeInUp ':active}">
        - 泳欣事業有限公司 -
    </div>
</div>