<div class="mainpage">

    <div class="top-canvas">
        <div class="top">
            <span class="top-text">
                2022
            </span>
            <span class="top-text">
                ENTERPRISE<br>
                PROPAGANDA<br>
            </span>
            <span class="top-text">
                企業宣傳/企業劃冊
            </span>
        </div>
        <hr>
        <div class="bottom">
            <p>
                <span>商</span>
                <span>務</span>
                <span>企</span>
                <span>業</span>
                <span>宣</span>
                <span>傳</span>
                <span>劃</span>
                <span>冊</span>
            </p>
            <p>游向設計的海洋 破開迎來的風浪 成就品牌的閃耀</p>
        </div>
    </div>
    <div class="mid-img">
        <div
        :class="{'active':mid_active}">
            <img src="/img/mainpage/back-banner.png" alt="">
        </div>
    </div>
    <!-- <div class="bottom-canvas"></div> -->
    <div class="container">
        <div class="img-container">
            <img src="/img/Logo.svg" alt="">
        </div>
        <div class="bottom-text">
            <span>
                ENTERPRISE<br>
                PROPAGANDA<br>
            </span>
        </div>
    </div>
</div>