<div class="fivepage">
    <div class="top animate__animated"
    :class="{'animate__fadeInDown ':active}">
        <span class="animate__animated animate__slow"
        :class="{'animate__fadeInLeft ':active}">ENTERPRISE</span>
        <h2 class="animate__animated animate__slow"
        :class="{'animate__fadeInLeft ':active}">PROPAGANDA</h2>
    </div>
    <div class="top-container">
        <div class="left" >
            <div class="animate__animated animate__slow"
            :class="{'animate__fadeInLeftBig ':active}">
                <span class="title">公司產品</span>
                <span class="sub-title">/COMPANY PRODUCT</span>
            </div>
            <div class="animate__animated animate__slow"
            :class="{'animate__fadeIn ':active}">
                <div class="top-canvas animate__animated animate__slow"
                :class="{'animate__fadeInLeftBig ':active}"></div>
            </div>
        </div>
        <div class="right animate__animated animate__slow"
        :class="{'animate__zoomIn ':active}">
            <div class="top-right-canvas"></div>
            <div class="top-right-canvas"></div>
            <div class="top-right-canvas"></div>
            <div class="top-right-canvas"></div>
        </div>
    </div>
    <div class="mid">
        <div class="top animate__animated animate__slow"
        :class="{'animate__fadeInDown':active}">
            <p>名片展示</p>
        </div>
        <div class="mid">
            <div class="left animate__animated animate__slow"
            :class="{'animate__zoomIn':active}">
                在一個品牌的誕生後，我們會全力以赴去尋找一個方向，讓品牌的誕生更加完整，具體,在LOGO設計，等相關事務用品上，我們會是你最好的夥伴。
            </div>
        </div>
        <div class="bottom animate__animated animate__slow"
        :class="{'animate__zoomIn':active}">
            <div class="cards"
            :class="{'active':mobil_active}"
            @touchstart="handleTouchstart"
            @touchend="handleTouchend">
                <slick ref="slick"  :options="slickOptions">
                    <div v-for="(i, index) in list" :key="index">
                      <img :src="i.img" :class="{'active':mobil_active}">
                    </div>
                  </slick>
            </div>
        </div>

    </div>
    <div class="bottom animate__animated animate__slow"
    :class="{'animate__slideInLeft':active}">
        <span>
            泳欣事業有限公司
        </span>
        <span class="canvas animate__animated animate__slow"
        :class="{'animate__fadeInRightBig':active}"></span>
        <button v-on:click=pageMove()>
            < < 返回目錄
        </button>
    </div>
</div>