<div class="fivepage">
    <div class="top">
        <span>ENTERPRISE</span>
        <h2>PROPAGANDA</h2>
    </div>
    <div class="top-container">
        <div class="left">
            <div>
                <span class="title">公司簡介</span>
                <span class="sub-title">/COMPANY PROFILE</span>
            </div>
            <div>
                <div class="top-canvas"></div>
            </div>
        </div>
        <div class="right">
            <div class="top-right-canvas"></div>
            <div class="top-right-canvas"></div>
            <div class="top-right-canvas"></div>
            <div class="top-right-canvas"></div>
        </div>
    </div>
    <div class="mid">
    </div>
    <div class="bottom">
        <span>
            泳欣事業有限公司
        </span>
        <span class="canvas animate__animated animate__slideInRight"></span>
        <button v-on:click=pageMove()>
            < < 返回目錄
        </button>
    </div>
</div>